*.log
*.json
*.css
*.less
*.scss
*.html
*.md
*.lock
*.swp

.github
.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

node_modules
**_build
packages/**/coverage
packages/**/dist
packages/**/lib
packages/api/ui/lib.js
packages/**/doc/docs/**/*