/* stylelint-disable selector-max-type, selector-max-attribute, no-duplicate-selectors */
@import '../variables.less';
@import './iconfont.less';

.weui-icon {
  font-size: (28px * @hd);
  outline: 0;
  border-width: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.weui-round-minus {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-round-minus-fill {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-close {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-round-check-fill {
  color: @weuiIconPrimaryColor;
  &-active {
    .setTapColor(@weuiIconPrimaryColor);
  }
}

.weui-round-check {
  color: @weuiIconPrimaryColor;
  &-active {
    .setTapColor(@weuiIconPrimaryColor);
  }
}

.weui-round-close-fill {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-round-close {
  color: @weuiIconWarnColor;
  &-active {
    .setTapColor(@weuiIconWarnColor);
  }
}

.weui-round-arrow-fill {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-round-arrow {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-search {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-round-time-fill {
  color: @weuiIconInfoColor;
  &-active {
    .setTapColor(@weuiIconInfoColor);
  }
}

.weui-round-time {
  color: @weuiIconInfoColor;
  &-active {
    .setTapColor(@weuiIconInfoColor);
  }
}

.weui-arrow {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-round-question-fill {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-round-question {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-top {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-refresh {
  color: @weuiIconPrimaryColor;
  &-active {
    .setTapColor(@weuiIconPrimaryColor);
  }
}

.weui-delete-fill {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-delete {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-round {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-round-info-fill {
  color: @weuiIconInfoColor;
  &-active {
    .setTapColor(@weuiIconInfoColor);
  }
}

.weui-round-info {
  color: @weuiIconTipColor;
  &-active {
    .setTapColor(@weuiIconTipColor);
  }
}

.weui-check {
  color: @weuiIconPrimaryColor;
  &-active {
    .setTapColor(@weuiIconPrimaryColor);
  }
}
