@import './theme/light';

@hd: 2; // 基本单位

// color
@weuiColorPrimary: @weui-BRAND;
@weuiColorWarn: @weui-RED;

// active mask
@weuiActiveMaskBlack: rgba(0, 0, 0, 0.15);

// link
@weuiLinkColorDefault: @weui-LINK;

// background
@weuiBgColorDefault: @weui-BG-0;
@weuiBgColorPrimary: @weui-BG-1;
@weuiBgColorActive: @weui-BG-COLOR-ACTIVE;

// line
@weuiLineColorLight: @weui-FG-3;
@weuiLineColorDark: @weui-FG-2;

// text
@weuiTextColorTitle: @weui-FG-0;
@weuiTextColorDesc: @weui-FG-1;
@weuiTextColorTips: @weui-FG-2;
@weuiTextColorWarn: @weuiColorWarn;

// font
@weuiFontEN: -apple-system-font, 'Helvetica Neue';
@weuiFontCN: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei';
@weuiFontSans: sans-serif;
@weuiFontDefault: @weuiFontEN, @weuiFontSans;
@weuiFontSizeXs: (10px * @hd); // 非常用字号，用于标签
@weuiFontSizeSm: (12px * @hd); // 用于辅助信息
@weuiFontSizeBase: (14px * @hd); // 常用字号
@weuiFontSizeLg: (16px * @hd); // 常规标题
@weuiFontSizeXl: (18px * @hd); // 大标题
@weuiFontSizeXxl: (20px * @hd); // 用于大号的数字

// z-index
@weuiZIndex: 1;
@weuiZIndexDivider: 400;
@weuiZIndexSteps: 500;
@weuiZIndexTab: 600;
@weuiZIndexSearchBar: 800;
@weuiZIndexNav: 805;
@weuiZIndexMask: 810;
@weuiZIndexDrawer: 900;
@weuiZIndexModal: 1010;
@weuiZIndexDialog: 1010;
@weuiZIndexActionSheet: 1010;
@weuiZIndexPicker: 1010;
@weuiZIndexCurtain: 1080;
@weuiZIndexMessage: 1090;
@weuiZIndexToast: 1090;

// 间距
@weuiSpaceXs: (2px * @hd);
@weuiSpaceSm: (4px * @hd);
@weuiSpaceMd: (6px * @hd);
@weuiSpaceLg: (8px * @hd);
@weuiSpaceXl: (10px * @hd);
@weuiSpaceXxl: (12px * @hd);

// weui-button
@weuiBtnWidth: (184px * @hd);
@weuiBtnHeight: (40px * @hd);
@weuiBtnFontSize: (17px * @hd);
@weuiBtnBorderRadius: (4px * @hd);
@weuiBtnDefaultGap: (16px * @hd);

@weuiBtnMiniFontSize: (16px * @hd);
@weuiBtnMiniHeight: (32px * @hd);

@weuiBtnCellHeight: (56px * @hd);
@weuiBtnCellGap: (16px * @hd);
// (@weuiBtnCellHeight - 2 * @weuiBtnCellGap) / @weuiBtnFontSize
@weuiBtnCellLineHeight: ((56 - 2 * 16) / 17);

@weuiBtnFontColor: #fff;
@weuiBtnDisabledFontColor: @weui-BTN-DISABLED-FONT-COLOR;
@weuiBtnDisabledBg: @weui-BTN-DEFAULT-BG;

// default
@weuiBtnDefaultFontColor: @weui-BTN-DEFAULT-COLOR;
@weuiBtnDefaultDisabledFontColor: @weuiBtnDisabledFontColor;
@weuiBtnDefaultBg: @weui-BTN-DEFAULT-BG;
@weuiBtnDefaultActiveBg: @weui-BTN-DEFAULT-ACTIVE-BG;
@weuiBtnDefaultDisabledBg: @weuiBtnDisabledBg;

// primary
@weuiBtnPrimaryFontColor: @weuiBtnFontColor;
@weuiBtnPrimaryDisabledFontColor: @weuiBtnDisabledFontColor;
@weuiBtnPrimaryBg: @weui-BRAND;
@weuiBtnPrimaryActiveBg: @weui-TAG-TEXT-GREEN;
@weuiBtnPrimaryDisabledBg: @weuiBtnDisabledBg;

// warn
@weuiBtnWarnFontColor: @weuiColorWarn;
@weuiBtnWarnDisabledFontColor: @weuiBtnDisabledFontColor;
@weuiBtnWarnBg: @weuiBtnDefaultBg;
@weuiBtnWarnActiveBg: @weuiBtnDefaultActiveBg;
@weuiBtnwarnDisabledBg: @weuiBtnDefaultDisabledBg;

// weui-cell
@weuiCellBg: @weui-BG-2;
@weuiCellBorderColor: @weuiLineColorLight;
@weuiCellGapV: (16px * @hd);
@weuiCellGapH: (16px * @hd);
@weuiCellInnerGapH: (16px * @hd);
@weuiCellHeight: (56px * @hd);
@weuiCellFontSize: (17px * @hd);
@weuiCellTipsFontSize: (14px * @hd);
@weuiCellLabelWidth: (105px * @hd);
@weuiCellActiveBg: @weuiBgColorActive;
// @weuiCellLineHeight: unit((@weuiCellHeight - 2 * @weuiCellGapV) / @weuiCellFontSize); // 高度减去上下padding的行高
@weuiCellLineHeight: ((56 - 2 * 16) / 17); // 高度减去上下padding的行高
@weuiCellsMarginTop: (8px * @hd);

// weui switch
@weuiSwitchHeight: (32px * @hd);

// weui uploader
@weuiUploaderFileSpacing: (8px * @hd);
@weuiUploaderSize: (96px * @hd);
@weuiUploaderBorderWidth: (1px * @hd);

// weui-dialog
@weuiDialogBackgroundColor: @weui-BG-2;
@weuiDialogLineColor: @weui-DIALOG-LINE-COLOR;
@weuiDialogLinkColor: @weuiLinkColorDefault;
@weuiDialogLinkActiveBc: @weuiBgColorActive;
@weuiDialogGapWidth: (24px * @hd);

// weui-grid
@weuiGridBorderColor: @weui-FG-3;
@weuiGridFontSize: (14px * @hd);
@weuiGridIconSize: (28px * @hd);
@weuiGridColumnCount: 3 * @hd;

// weui-msg
@weuiMsgPaddingTop: (48px * @hd);
@weuiMsgTitleGap: (16px * @hd);

// weui-progress
@weuiProgressBg: @weuiBgColorDefault;
@weuiProgressColor: @weuiColorPrimary;
@weuiProgressHeight: (3px * @hd);

// weui-tab
@weuiNavBarHeight: (56px * @hd);
@weuiTabBarHeight: (60px * @hd);
