@import './mixins.less';
@weui-BRAND: #07c160;
@weui-RED: #fa5151;
@weui-BLUE: #10aeff;
@weui-LINK: #576b95;
@weui-LIGHT-0: #ffffff;
@weui-LIGHT-2: #f2f2f2;
@weui-LIGHT-7: #f7f7f7;
@weui-LIGHT-5: #ededed;
@weui-DARK-0: #000000;
@weui-DARK-0-1: rgba(0, 0, 0, 0.1);
@weui-DARK-0-2: rgba(0, 0, 0, 0.2);
@weui-DARK-0-3: rgba(0, 0, 0, 0.3);
@weui-DARK-1-3: rgba(19, 6, 6, 0.3);
@weui-DARK-0-5: rgba(0, 0, 0, 0.5);
@weui-DARK-0-9: rgba(0, 0, 0, 0.9);
@weui-GREY-8: #606060;

// @weui-BTN-DISABLED-FONT-COLOR: rgba(0, 0, 0, 0.2);

// @weui-BG-0: #ededed;
// @weui-BG-1: #f7f7f7;
// @weui-BG-2: #ffffff;
// @weui-BG-4: #4c4c4c;
// @weui-FG-0: rgba(0, 0, 0, 0.9);
// @weui-FG-HALF: rgba(0, 0, 0, 0.9);
// @weui-FG-1: rgba(0, 0, 0, 0.5);
// @weui-FG-2: rgba(0, 0, 0, 0.3);
// @weui-FG-3: rgba(0, 0, 0, 0.1);
// @weui-FG-4: #606060; // add
// @weui-FG-5: #f7f7f7; // add
// @weui-FG-6: #ededed; // add
// @weui-FG-7: #ffffff; // add

// @weui-ORANGE: #fa9d3b;
// @weui-YELLOW: #ffc300;
// @weui-GREEN: #91d300;
// @weui-LIGHTGREEN: #95ec69;

// @weui-BLUE: #10aeff;
// @weui-INDIGO: #1485ee;
// @weui-PURPLE: #6467f0;
// @weui-WHITE: #ffffff;
// @weui-LINK: #576b95;
// @weui-LINK-ACTIVE: fade(#576b95, 50%);
// @weui-TEXTGREEN: #06ae56;
// @weui-FG: #000000;
// @weui-BG: #ffffff;
// @weui-TAG-TEXT-ORANGE: #fa9d3b;
// @weui-TAG-BACKGROUND-ORANGE: rgba(250, 157, 59, 0.1);
// @weui-TAG-TEXT-GREEN: #06ae56;
// @weui-TAG-BACKGROUND-GREEN: rgba(6, 174, 86, 0.1);
// @weui-TAG-TEXT-BLUE: #10aeff;
// @weui-TAG-BACKGROUND-BLUE: rgba(16, 174, 255, 0.1);
// @weui-TAG-TEXT-BLACK: rgba(0, 0, 0, 0.5);
// @weui-TAG-BACKGROUND-BLACK: rgba(0, 0, 0, 0.05);
// @weui-BG-COLOR-ACTIVE: #ececec;

// @weui-BTN-DEFAULT-BG: #f2f2f2;
// @weui-BTN-DEFAULT-COLOR: #06ae56;
// @weui-BTN-DEFAULT-ACTIVE-BG: overlay(rgba(0, 0, 0, 0.06), #f2f2f2);
// @weui-DIALOG-LINE-COLOR: rgba(0, 0, 0, 0.1);

@hd: 2; // 基本单位

// minibar
@weuiMiniBarColor: @weui-DARK-0-9;
@weuiMiniBarBgColor: @weui-LIGHT-5;
@weuiMiniBarBorderLine: @weui-DARK-0-1;

// loading
@weuiLoadingColor: @weui-GREY-8;
@weuiLoadingSimilarColor: @weui-LIGHT-5;
@weuiLoadingPrimaryColor: @weui-BRAND;

// default button
@weuiBtnDefaultColor: overlay(rgba(0, 0, 0, 0.06), @weui-BRAND);
@weuiBtnDefaultBgColor: @weui-LIGHT-2;

// primary button
@weuiBtnPrimaryColor: @weui-LIGHT-7;
@weuiBtnPrimaryBgColor: @weui-BRAND;

// warn button
@weuiBtnWarnColor: @weui-RED;
@weuiBtnWarnBgColor: @weui-LIGHT-2;

// cell default button
@weuiBtnCellDefaultColor: @weui-DARK-0-9;
@weuiBtnCellDefaultBgColor: @weui-LIGHT-0;

// cell primary button
@weuiBtnCellPrimaryColor: @weui-LINK;
@weuiBtnCellPrimaryBgColor: @weui-LIGHT-0;

// cell warn button
@weuiBtnCellWarnColor: @weui-RED;
@weuiBtnCellWarnBgColor: @weui-LIGHT-0;

// disable button
@weuiBtnDisabledColor: @weui-DARK-0-2;
@weuiBtnDisabledBgColor: @weui-LIGHT-2;

// icon
@weuiIconPrimaryColor: @weui-BRAND;
@weuiIconTipColor: @weui-DARK-1-3;
@weuiIconWarnColor: @weui-RED;
@weuiIconInfoColor: @weui-BLUE;

// mask
@weuiMask: rgba(0, 0, 0, 0.6);
@weuiActiveMaskBlack: rgba(0, 0, 0, 0.15);

// actionsheet
@weuiActionSheetBgColor: @weui-LIGHT-7;
@weuiActionSheetTitleColor: @weui-DARK-0-5;
@weuiActionSheetTitleFgColor: @weui-LIGHT-0;
@weuiActionSheetTitleBorderLine: @weui-DARK-0-1;
@weuiActionSheetMenuColor: @weui-DARK-0-9;
@weuiActionSheetItemFgColor: @weui-LIGHT-0;
@weuiActionSheetItemBorderLine: @weui-DARK-0-1;
@weuiActionSheetItemActiveFgColor: @weui-LIGHT-2;

// searchbar
@weuiSearchBarBgColor: @weui-LIGHT-5;
@weuiSearchBarInputFgColor: @weui-LIGHT-0;
@weuiSearchBarCaretColor: @weui-BRAND;
@weuiSearchBarColor: @weui-DARK-0-9;
@weuiSearchBarLabelColor: @weui-DARK-0-3;
@weuiSearchBarLabelFgColor: @weui-LIGHT-7;
@weuiSearchBarCancelColor: @weui-LINK;

// modal
@weuiModalBgColor: @weui-LIGHT-0;
@weuiModalTitleColor: @weui-DARK-0-9;
@weuiModalSubTitleColor: @weui-DARK-0-5;
@weuiModalBtnColor: @weui-DARK-0-5;
@weuiModalBorderLine: @weui-DARK-0-1;
@weuiModalBtnColor: @weui-LINK;
@weuiModalBtnCancelColor: @weui-DARK-0-9;
@weuiModalBtnFgActiveColor: @weui-LIGHT-2;

// halfScreen
@weuiHalfScreenBgColor: @weui-LIGHT-0;
@weuiHalfScreenTitleColor: @weui-DARK-0-9;
@weuiHalfScreenSubTitleColor: @weui-DARK-0-5;
@weuiHalfScreenTipsColor: @weui-DARK-0-3;
@weuiHalfScreenBtnColor: @weui-BRAND;
@weuiHalfScreenBtnCancelColor: @weui-DARK-0-9;

// font
@weuiFontEN: -apple-system-font, 'Helvetica Neue';
@weuiFontCN: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei';
@weuiFontSans: sans-serif;
@weuiFontDefault: @weuiFontEN, @weuiFontSans;
@weuiFontSizeXs: (10px * @hd); // 非常用字号，用于标签
@weuiFontSizeSm: (12px * @hd); // 用于辅助信息
@weuiFontSizeBase: (14px * @hd); // 常用字号
@weuiFontSizeLg: (16px * @hd); // 常规标题
@weuiFontSizeXl: (18px * @hd); // 大标题
@weuiFontSizeXxl: (20px * @hd); // 用于大号的数字

// z-index
@weuiZIndex: 1;
@weuiZIndexDivider: 400;
@weuiZIndexSteps: 500;
@weuiZIndexTab: 600;
@weuiZIndexNav: 805;
@weuiZIndexMask: 810;
@weuiZIndexDrawer: 900;
@weuiZIndexModal: 1010;
@weuiZIndexDialog: 1010;
@weuiZIndexActionSheet: 1010;
@weuiZIndexPicker: 1010;
@weuiZIndexCurtain: 1080;
@weuiZIndexMessage: 1090;
@weuiZIndexToast: 1090;

// 间距
@weuiSpaceXs: (2px * @hd);
@weuiSpaceSm: (4px * @hd);
@weuiSpaceMd: (6px * @hd);
@weuiSpaceLg: (8px * @hd);
@weuiSpaceXl: (10px * @hd);
@weuiSpaceXxl: (12px * @hd);

// weui-button
@weuiBtnWidth: (184px * @hd);
@weuiBtnFontSize: (17px * @hd);
@weuiBtnBorderRadius: (4px * @hd);
@weuiBtnDefaultGap: (16px * @hd); // margin
@weuiBtnLineHeight: @weuiBtnFontSize * 2;
@weuiBtnGap: (8px * @hd); //padding

@weuiBtnMiniFontSize: (16px * @hd);
@weuiBtnMiniLineHeight: @weuiBtnMiniFontSize * 1.2;

// weui-cell
@weuiCellGapV: (16px * @hd);
@weuiCellGapH: (16px * @hd);
@weuiCellInnerGapH: (16px * @hd);
@weuiCellHeight: (56px * @hd);
@weuiCellFontSize: (17px * @hd);
@weuiCellTipsFontSize: (14px * @hd);
@weuiCellLabelWidth: (105px * @hd);
@weuiCellLineHeight: ((56 - 2 * 16) / 17); // 高度减去上下padding的行高
@weuiCellsMarginTop: (8px * @hd);

// weui switch
@weuiSwitchHeight: (32px * @hd);

// weui uploader
@weuiUploaderFileSpacing: (8px * @hd);
@weuiUploaderSize: (96px * @hd);
@weuiUploaderBorderWidth: (1px * @hd);

// weui-dialog
@weuiDialogGapWidth: (24px * @hd);

// weui-grid
@weuiGridFontSize: (14px * @hd);
@weuiGridIconSize: (28px * @hd);
@weuiGridColumnCount: 3 * @hd;

// weui-msg
@weuiMsgPaddingTop: (48px * @hd);
@weuiMsgTitleGap: (16px * @hd);

// weui-progress
@weuiProgressHeight: (3px * @hd);

// weui-tab
@weuiNavBarHeight: (56px * @hd);
@weuiTabBarHeight: (60px * @hd);

.weui-shadow {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
}

.weui-mask {
  position: fixed;
  z-index: @weuiZIndexMask;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: @weuiMask;
}
.weui-slideup-default {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  max-height: 75%;
  overflow-x: hidden;
  transform: translate(0, 100%);
  backface-visibility: hidden;
  transition: transform 0.3s;
  border-top-left-radius: (12px * @hd);
  border-top-right-radius: (12px * @hd);
}
.weui-slideup-show {
  transform: translate(0, 0);
}
